@import "bootstrap/dist/css/bootstrap.min.css";

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
:root {
  --main-color: #002d13;
  --secondary: #ffff00;
  --fonts: #fff;
  --sec-font: #000000;
  --acid-green: #c0cb05;
  --olive: #80960a;
  --lincoln-green: #204811;
  --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  --border: 0.2rem solid var(--main-color);
  --font-size: 1.5rem;
  font-family: "oxygen", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  font-size: 62.5%;
}

body {
  background: var(--main-color);
  max-width: 1200px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
}






